html {
    font-size: 62.5%;
}

.container {
    border: 0.1rem solid #000;
    border-radius: 0.4rem;
    padding: 0.3rem;
    width: fit-content;

    & > input {
        border: none;
        outline: none;
        position: relative;
    }
    & > button {
        position: relative;
    }
}

.container2 {
    position: relative;
    width: fit-content;

    &> input {
        box-sizing: border-box;
        height: 3.3rem;
        padding-right: 4rem;
    }

    & > button {
        position: absolute;
        top: 0.15rem;
        right: 0.5rem;
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        font-size: 0.9rem;
    }
}

.p-box {
    position: relative;
    box-sizing: border-box;
    border: 0.1rem solid #000;
    width: 50rem;
    height: 30rem;
}

.c-box {
    box-sizing: border-box;
    border: 0.1rem solid black;
    width: 10rem;
    height: 10rem;
}

.c-box1 {
    background-color: red;
}

.c-box2 {
    position: relative;
    left: 39.9rem;
    bottom: 10.1rem;
    background-color: green;
}

.c-box3 {
    background-color: blue;
}

.cc-box {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border: 0.1rem solid #000;
    width: 5rem;
    height: 5rem;
    background-color: yellow;
}